@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

/* ---------------------------General styles--------------------------- */

*{
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;

    list-style-type: none;
    text-decoration: none;

    margin: 0;
    padding: 0;
}

.flex-container{
    display: flex;
}

:root{
    --primaryColor: #FAFAFA;
    --secondaryColor: #F3603B;
    --secondaryColor2: #F3613C;
}

/* ---------------------------Tag styles--------------------------- */

i{
    font-size: 2rem;
}

i:hover, a:hover{
    color: var(--secondaryColor2);
    transform: scale(1.5);
}

a{
    color: #242E52;
    text-decoration: none;
}

button{
    background-color: var(--secondaryColor);
    border-radius: 30px;
    border: none;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    font-size:  0.82375rem;
    font-weight: 400;
    padding: 12.5px 27.5px;
}

button:hover, a:active{
    background-color: #242E52;
    color: var(--secondaryColor);
}

input[type="email"]{
    border-radius: 50px;
    font-size: 0.8rem;
    padding: 10px;
    width: 15rem;
}

input[type="radio"] {
    appearance: none;
    border-radius: 50%;
    border: 0.07rem solid var(--secondaryColor);
    color: white;
    height: 0.75rem;
    margin: 0px 5px;
    width: 0.75rem;
}

input:focus{
    background-color: var(--secondaryColor);
    color: white;
}

input:checked{
    background-color: var(--secondaryColor);
}

h1{
    color: #232C50;
    font-size: 3.5rem;
    font-weight: 700;
}

h2{
    color: #232851;
    font-size: 2.5rem;
}

h4{
    color: #323851;
}

p{
    font-weight: 500;
}

li{
    list-style-type: none;
}

/* ---------------------------Header sections--------------------------- */

header{
    align-items: center;
    justify-content: space-between;
    margin: 80px 180px;
}

.logo-1{
    max-width: 100%;
}

.nav-item{
    font-size: 0.8125rem;
    margin: 0px 28px;
}

/* ---------------------------Main sections--------------------------- */
.intro, .aboutUs{
    margin: 100px 180px;
}

/* --------------Intro-------------- */

.intro{
    align-items: center;
    justify-content: space-between;
}

.intro-item-1{
    align-items: flex-start;
    flex-direction: column;
    margin-right: 65px;
    width: 50%;
}

.intro-item-2{
    justify-content: flex-end;
    width: 50%;
}

.intro-item-2 img{
    width: 100%;
}

.intro-text{
    font-size: 1.035rem;
    margin: 30px 145px 30px 0px;
}

/* --------------About Us-------------- */

.about-box-1{
    flex-direction: column;
    width: 50%;
}
.about-box-text{
    margin: 36px 180px 0px 0px;
}

.about-box-2{
    width: 50%;
}
.about-box-2 ul{
    flex-direction: column;
}

.about-item{
    margin-bottom: 20px;
}

.about-item h4{
    margin: 18px 2px;
}

span{
    background-color: var(--secondaryColor);
    border-radius: 30px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 700;
    margin-right: 23px;
    padding: 8px 20px;
}

.about-text{
    color: #B3B2B7;
    padding-left: 87px;
}

/* --------------Testimonials-------------- */

.testimonials{
    align-items: center;
    flex-direction: column;
    margin: 100px 0px;
}

.testimonials h2{
    margin-bottom: 120px;
}

.test-cards{
    align-items: center;
    background-color: var(--primaryColor);
    width: 90%;
}

.card{
    align-items: center;
    flex-direction: column;
}

.card img{
    bottom: 45px;
    left: 30px;
    margin: 0px;
    position: relative;
    width: 60%;
}

.card-bottom{
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.card-text{
    color: #B9B9C1;
    font-size: 0.93rem;
    margin: 21px 0px 39px 0px;
    text-align: center;
}

.dots{
    justify-content: center;
    margin: 35px 0px;
}

.testimonials div button{
    margin: 45px;
}

/* --------------Simplify-------------- */

.simplify{
    align-items: center;
    background-color: var(--secondaryColor2);
    color: white;
    height: 224px;
    justify-content: space-around;
}

.simplify h2{
    color: white;
    font-size: 2.5rem;
    padding-right: 220px;
    width: 50%;
}

.simplify button{
    background-color: white;
    color: var(--secondaryColor2);
    margin: 0;
}

/* ---------------------------Footer sections--------------------------- */

footer{
    align-items: center;
    background-color: #1E1E26;
    color: white;
    height: 247px;
    justify-content: space-around;
    padding: 0px 82px;
}

.social{
    flex-direction: column;
}

.logo-2{
    padding-bottom: 66.68px;
}

.fa-brands{
    color: white;
    font-size: 1.43rem;
    padding-right: 16px;
}

.fa-instagram{
    padding-right: 0px;
}

.footer-nav{
    justify-content: space-between;
    width: 30%;
}

.footer-nav-item{
    align-items: space-between;
    flex-direction: column;
}

.footer-nav-item li{
    padding-bottom: 12px;
}

.footer-nav-item li:hover{
    color: var(--secondaryColor2);
    transform: scale(1.5);
}

.footer-nav-item li:last-child{
    padding-bottom: 0;
}

.subscription{
    flex-direction: column;
}

.subscription-form{
    gap: 10px;
}

.subscription:last-child{
    align-items: flex-end;
}

.copyright{
    color: #8C8C94;
    font-size: 0.75rem;
    padding-top: 74px;
}

/* ---------------------------Media queries--------------------------- */

@media (max-width: 480px) {
    .desk-only{
        display: none;
    }

    /* ---------------------------Header sections--------------------------- */

    header{
        margin: 50px 40px;
    }

    /* ---------------------------Main sections--------------------------- */

    .intro-title, .intro-text, .about-box-1 h2, .about-box-text, .testimonials h2, .card-text, .simplify h2{
        text-align: center;
    }
    .intro, .intro-item-1, .intro-item-2, .aboutUs, .testimonials, .simplify, footer{
        margin: 0;
        width: 100%;
    }
    .intro-text, .about-box-text, .about-text, .card-text{
        line-height: 30px;
    }

    /* --------------Intro-------------- */

    .intro{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .intro-item-1{
        align-items: center;
        justify-content: center;
    }
    .intro-title{
        align-items: center;
        font-size: 2.5rem;
        justify-content: center;
    }
    .intro-text{
        align-items: center;
        color: #B9B9C1;
        justify-content: center;
        margin: 10px 12px 23px 12px;
    }

    /* --------------About Us-------------- */

    .aboutUs, .testimonials, .simplify{
        flex-direction: column;
    }
    .about-box-1, .about-box-2{
        width: 100%;
    }
    .about-box-1 h2{
        font-size: 1.8rem;
        margin: 90px 40px 0px 40px;
    }
    .about-box-text{
        color: #B9B9C1;
        font-size: 0.9rem;
        margin: 25px 30px 40px 30px;
    }
    .about-item h4{
        background-color: rgba(245, 203, 193, 0.502);
        border-radius: 100px 0px 0px 100px;
        font-size: 1rem;
        margin: 18px 0px 0px 10px;
        padding: 10px 0px;
    }
    .about-text{
        font-size: 0.8.5rem;
        padding: 0px 11px;
    }

    /* --------------Testimonials-------------- */

    .testimonials h2{
        font-size: 1.8rem;
        margin: 30px 0px 100px 0px;
    }
    .test-cards{
        width: 100%;
    }
    .card img{
        bottom: 42px;
    }

    /* --------------Simplify-------------- */

    .simplify{
        height: 400px;
        margin: 0;
        padding: 80px 0px;
    }
    .simplify h2{
        font-size: 2.4rem;
        margin: 0;
        padding: 0;
        width: 90%;
    }

    /* ---------------------------Footer sections--------------------------- */

    footer{
        align-items: center;
        flex-direction: column-reverse;
        height: 550px;
        margin: 0;
        padding: 0;
    }
    .subscription-form{
        margin-top: 10px;
    }
    .footer-nav{
        width: 70%;
    }
    .footer-nav-item li{
        color: #FFFFFF;
        margin-bottom: 15px;
    }
    .footer-nav-item li:last-child{
        margin-bottom: 0;
    }
    .fa-brands{
        font-size: 2.3rem;
        margin: 0px 15px 60px 0px;
    }
    .social{
        align-items: center;
        flex-direction: column-reverse;
        width: 100%;
    }
    .logo-2{
        position: relative;
        right: 26px;
        width: 130%;
    }
    .footer-nav-item li{
        color: #8C8C94;
        padding-bottom: 0;
    }
    .copyright{
        bottom: -420px;
        padding-top: 0;
        position: relative;
        right: 60px;
    }
}

@media (min-width: 481px){
    .mobile-only{
        display: none;
    }
}